.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: pink;
    margin-left: 55px;
  }

  
  .line {
    height: 24px; 
    width: 1px;
    background-color: #fff;
    margin-left: -15px; 
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px;
    height: 35x;
    color: pink;
  }
  
  .nav-links {
    display: flex;
    margin-left: 1rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
  }
  
  .right-section button {
    padding: 8px 25px;
    background-color: pink;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-right:30px;
  }

  .material-icons {
    margin-right: 7px;
    font-size: 13px;
    align-items: center;
    
  }
  