.message-item.alice {
    text-align: left;
    margin-right: 49rem;
    background-color:  rgb(77, 76, 76);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    
  }
  
  .message-item.you {
    text-align: right;
    margin-left: 49rem;
    background-color: pink;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
  
  }
  
  .message-item span {
    font-weight: bold;
    margin-right: 5px;
    
  }
  